body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #6489FF;
}
label.logo {
    color: black;
    font-size: 30px;
    line-height: 80px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px; /* Adjust as needed */
    font-family: 'Century Gothic', sans-serif;

    /* Add the following properties to place it in the upper-left corner */
    position: absolute;
    top: 0;
    left: 0;
}
.nav1 {
    background-color: transparent;
    height: 80px;
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.nav1 ul {
    font-family: sans-serif;
}

.nav1 ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

.nav1 a {
    color: black;
    font-size: 12px;
    padding: 9px 15px;
    border: solid 1px transparent;
    border-radius: 20px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.nav1 a:hover {
    border: solid 1px transparent;
    background-color: salmon;
    color: white;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.nav1 a.active1 {
    border: solid 1px transparent;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.slider{
	width: 800px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
}
.slides{
	width: 500%;
	height: 500px;
	display: flex;
}

.slides input{
	display: none;
}

.slide{
	width: 20%;
	transition: 2s;
}

.slide img{
	width: 800px;
	height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid #F6F8FF ;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background: #F6F8FF ;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -20%;
}

#radio3:checked ~ .first{
	margin-left: -40%;
}

#radio4:checked ~ .first{
	margin-left: -60%;
}

#radio5:checked ~ .first{
	margin-left: -80%;
}

/*css for automatic navigation*/

.navigation-auto{
	position: absolute;
	display: flex;
	width: 800px;
	justify-content: center;
	margin-top: 460px;
}

.navigation-auto div{
	border: 2px solid #F6F8FF ;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}

.navigation-auto div:not(:last-child){
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background: #F6F8FF ;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
	background: #F6F8FF ;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
	background: #F6F8FF ;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
	background: #F6F8FF ;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
	background: #F6F8FF ;
}
